bert-score>=0.3.13
faiss-cpu
fastapi
gradio
langchain>=0.1.13
langchain-community
langchain-core
langchain-huggingface
langchain-neo4j
langchain-openai
langfuse
neo4j
networkx
nltk>=3.8.1
numpy
openai
pypdf
pytest
python-docx
python-dotenv
requests
rouge-score>=0.1.2
scikit-learn
sentence-transformers>=2.2.2
unstructured[all-docs]
uvicorn[standard]
